@model LiteCommerce.Admin.Models.SupplierPaginationResult

@{
    ViewBag.Title = "Catalog";
    ViewBag.SmallTitle = "Manage Suppliers";
    int i = 0;

}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Suppliers" method="get">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control" placeholder="@Model.SeachValue">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

     
    </div>
</div>

<form action="~/Suppliers/Delete" method="post">
    <div class="container-fluid row lc-mb">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Suppliers. <b>Page @string.Format("{0}/{1}", @Model.Page, @Model.PageCount)</b>
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Suppliers/Input" class="btn btn-sm btn-primary">Add Supplier</a>
                <button type="button" id="delete-btn" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-default">Delete Suppliers</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title ">Delete <i class="fa fa-fw fa-question-circle "></i> </h4>
                </div>
                <div class="modal-body">
                    <p>Do you want delete <span id="count"></span> this suppliers ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" id="selectAll" title="Select all " />
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:auto">Name</th>
                        <th style="width:200px">Address</th>
                        <th style="width:200px">Contact Info</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supplier in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="supplierIDS" value="@supplier.SupplierID" />
                            </td>
                            <td>@(++i + (Model.Page - 1) * Model.PageSize)</td>
                            <td>
                                <span class="lc-company-name">
                                    @supplier.CompanyName
                                </span>
                                <span class="lc-contact-name">
                                    @supplier.ContactName
                                </span>
                                <span class="lc-title-name">
                                    @supplier.ContactTitle
                                </span>
                            </td>
                            <td>
                                <p>@supplier.Address</p>
                                <p>@supplier.City - @supplier.Country </p>

                            </td>
                            <td>
                                <p><i class="fa fa-phone"></i> @supplier.Phone</p>
                                <p><i class="fa fa-fax"></i> @supplier.Fax</p>
                                <p><i class="fa fa-home"></i> @supplier.HomePage</p>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Suppliers/Input/@supplier.SupplierID/" title="Edit this Supplier">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="box-footer clearfix text-center">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="~/Suppliers?page=1&searchValue=@Model.SeachValue">«</a></li>
                @if (Model.PageCount > 4)
                {

                    if (Model.Page < 4)
                    {
                        for (int page = 1; page <= 5; page++)
                        {

                            if (page == Model.Page)
                            {
                                <li class="active"><a href="#">@page</a></li>
                            }
                            else
                            {
                                <li><a href="~/Suppliers?page=@page&searchValue=@Model.SeachValue">@page</a></li>
                            }

                        }
                        <li><a href="#" class="disabled">...</a></li>
                    }

                    else if (Model.Page < 6)
                    {
                        for (int page = 1; page <= Model.Page + 2; page++)
                        {

                            if (page == Model.Page)
                            {
                                <li class="active"><a href="#">@page</a></li>
                            }
                            else
                            {
                                <li><a href="~/Suppliers?page=@page&searchValue=@Model.SeachValue">@page</a></li>
                            }

                        }

                        <li><a href="" class="disabled">...</a></li>
                    }
                    else if (Model.Page <= Model.PageCount - 4)
                    {
                        <li><a href="~/Suppliers?page=1&searchValue=@Model.SeachValue">1</a></li>
                        <li><a href="#" class="disabled">...</a></li>
                        for (int page = Model.Page - 2; page <= Model.Page + 2; page++)
                        {

                            if (page == Model.Page)
                            {
                                <li class="active"><a href="#">@page</a></li>
                            }
                            else
                            {
                                <li><a href="~/Suppliers?page=@page&searchValue=@Model.SeachValue">@page</a></li>
                            }

                        }
                        <li><a href="#" class="disabled">...</a></li>
                    }
                    else if (Model.Page >= Model.PageCount - 3)
                    {
                        <li><a href="~/Suppliers?page=1&searchValue=@Model.SeachValue">1</a></li>
                        <li><a href="#" class="disabled">...</a></li>
                        for (int page = Model.Page - 2; page <= Model.PageCount - 1; page++)
                        {

                            if (page == Model.Page)
                            {
                                <li class="active"><a href="#">@page</a></li>
                            }
                            else
                            {
                                <li><a href="~/Suppliers?page=@page&searchValue=@Model.SeachValue">@page</a></li>
                            }

                        }


                    }

                    <li><a href="~/Suppliers?page=@Model.PageCount&searchValue=@Model.SeachValue">@Model.PageCount</a></li>
                }
                else
                {
                    for (int page = 1; page <= Model.PageCount; page++)
                    {

                        if (page == Model.Page)
                        {
                            <li class="active"><a href="#">@page</a></li>
                        }
                        else
                        {
                            <li><a href="~/Suppliers?page=@page&searchValue=@Model.SeachValue">@page</a></li>
                        }

                    }
                }


                <li><a href="~/Suppliers?page=@Model.PageCount&searchValue=@Model.SeachValue">»</a></li>
            </ul>
        </div>
    </div>
</form>
@section scripts{
    <script type="text/javascript">
        document.getElementById('selectAll').onclick = function () {
            var checkboxes = document.getElementsByName('supplierIDS');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        }
    </script>
<script>
        $(document).ready(function () {
            document.getElementById('delete-btn').onclick = function () {
                var c = $('input[name="supplierIDS"]:checked').length;
                document.getElementById("count").innerHTML = c;
            }
        })

</script>
}